@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");
body {
    background-image: linear-gradient(to right, #0b08b6, #25128f, #2a176a, #271947, #1e1926);
    
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Metropolis', sans-serif;
    font-weight: 600;
    
}

.main {
    height: auto;
    width: auto;
    box-sizing: border-box;
}

.navbar {
    background-color: #fcfaf9;
    width: auto;
    padding-left: 8%;
    padding-right: 8%;
    height: 75px;
    
    display: flex;
    align-items: center;
}

.home {
    font-size: 30px;
}

.home a img{
    padding-top: 7px;
    width: 150px;
    height: 150px;
}

.home a {
    text-decoration: none;
    color: rgb(249, 255, 255);
}

nav {
    text-align: right;
    flex: 1;

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li :hover {
    color: rgb(0, 0, 0);
}

nav ul li a {
    text-decoration: none;
    color: #25128f;
    font-size: 23px;
}

.biodata h2{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 15px;
    color: #CDC9C3;
    font-size: 40px; 
  text-align: center;
}
img {
    width:500px;
    height: 500px;
}
.anjay
{

    background-position-y:center;
    padding: 90px;
    margin: auto;
    width: 300px;
    height: 100px;
    background: #CDC9C3;
    border-radius: 10px;
    font-display: 1;
    font-size: 120%;

}
footer {
    color: #CDC9C3;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 23px;
    margin-top: 30px;
}

.about {
    padding: 5rem 0 2rem 0;
    height: auto;
    width: 100%;
    font-family: 'Berlin Sans FB';
}

.about-wrap {
    padding-bottom: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.about-image {
    position: relative;
    width: 50%;
    height: 450px;
}

.about-image::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}

.about-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.2rem;
}

.about-description {
    padding-top: 0.4rem;
    width: 50%;
    color: #f3f3f3;
}

.about-description h3 {
    font-size: 1.4rem;
}

.about-description h1 {
    color: rgb(0, 0, 0);
    margin-top: 1.2rem;
    font-size: 2.6rem;
    padding-right: 30px;
    padding-left: 30px;
}

.about-description p {
    margin-top: 1rem;
    font-size: 1.2rem;
    padding-right: 30px;
    padding-left: 30px;
}

.about-description button {
    margin-top: 0.6rem;
    color: #fff;
    font-size: 1.2rem;
    height: 2.6rem;
    width: 8rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: steelblue;
    border-radius: 0.1rem;
}
